<!-- "formulario de adoção" -->
{% extends "base.html" %}

{% block content %}
<h2>Cadastro de Adotante</h2>

<form method="POST" action="/salvar">
  <input type="text" name="nome" placeholder="Nome" required><br>
  <input type="email" name="email" placeholder="Email" required><br>
    <input type="text" name="senha" placeholder="Senha" required><br>
  <input type="text" name="telefone" placeholder="Telefone"><br>
  <input type="text" name="endereco" placeholder="Endereço"><br>
  <input type="text" id="ambiente" name="ambiente" placeholder="Ambiente"><br>
  <button type="submit">Enviar Cadastro</button>
</form>

<hr>

<form id="uploadForm" enctype="multipart/form-data">
  <label for="foto">Envie uma foto do ambiente:</label><br>
  <input type="file" id="foto" name="foto"><br><br>
  <button type="button" onclick="uploadFoto()">Upload Foto</button>
</form>

<div id="previewArea" style="margin-top:20px; display:none; text-align:center;">
  <h3>Pré-visualização da Foto</h3>
  <img id="previewImg" src="" alt="Foto do ambiente" style="max-width:400px; border:1px solid #ccc; border-radius:8px;">
  <br><br>
  <button type="button" onclick="voltarCadastro()">Voltar ao Cadastro</button>
</div>

<p>Veja o Painel de Adotantes:</p>
<a href="{{ url_for('main_screen') }}" class="btn">Continuar</a>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}