{% extends "base.html" %}

{% block title %}Lista de Adotantes{% endblock %}

{% block content %}
<h2 style="text-align:center;">Lista de Adotantes</h2>
<table>
  <tr><th>Nome</th><th>Email</th><th>Ambiente</th></tr>
  {% for a in adotantes %}
  <tr>
    <td>{{ a.nome }}</td>
    <td>{{ a.email }}</td>
    <td>{{ a.ambiente }}</td>
  </tr>
  {% endfor %}
</table>

<!-- Botão para cadastro -->
<div style="text-align:center;">
  <a href="{{ url_for('cadastro') }}" class="btn">Cadastrar novo adotante</a>
</div>

<br>

<!-- Texto e botão de login centralizados juntos -->
<div style="text-align:center; margin-top:20px;">
  <p style="margin-bottom:20px; font-weight:bold;">Fazer Login</p>
  <a href="{{ url_for('login') }}" class="btn">Login</a>
</div>

{% endblock %}